.logotyps{
  margin: 48px 0 24px;
  text-align: center;
  .sec-title{
    margin-left: auto;
    margin-right: auto;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media only screen and (max-width : 767px){
    margin: 62px 0 16px;
  }
    
}
.logotyps-item{
  margin: 0 16px 24px;
  &:first-child{margin-left: 0;}
  &:last-child{margin-right: 0;}
}