extends ../layout/layout

block main
  include ../modules/main-sec_admin.html
  include ../modules/logotyps.html
  include ../modules/oval.html
  include ../modules/cards.html
  include ../modules/state-sec.html
  include ../modules/easy-balance.html
  include ../modules/steps-2.html
  include ../modules/banners.html
  include ../modules/cite-slider.html
  include ../modules/middle.html
  include ../modules/referral-sec.html
  include ../modules/callback-sec.html