extends ../layout/layout

block main
  include ../modules/main-sec_advertisment.html
  include ../modules/some-about-market.html
  include ../modules/platform.html  
  include ../modules/types-2.html
  include ../modules/communications.html
  include ../modules/formats.html
  include ../modules/integrations.html  
  include ../modules/state-sec.html
  include ../modules/easy-balance.html  
  include ../modules/steps.html
  include ../modules/services.html
  include ../modules/cite-slider.html  
  include ../modules/middle.html
  include ../modules/referral-sec.html
  include ../modules/callback-sec.html