extends ../layout/layout

block main
  include ../modules/main-sec.html
  include ../modules/select-sec.html
  include ../modules/logotyps.html
  include ../modules/platform.html
  include ../modules/types.html
  include ../modules/better.html
  include ../modules/cite-slider.html
  include ../modules/state-sec.html
  include ../modules/middle.html
  include ../modules/referral-sec.html
  include ../modules/callback-sec.html