extends ../layout/layout

block main
  include ../modules/main-sec_referral.html
  include ../modules/some-about-market.html
  include ../modules/platform.html  
  include ../modules/types-3.html
  include ../modules/earn.html
  include ../modules/referral.html
  include ../modules/state-sec.html
  include ../modules/easy-balance.html 
  include ../modules/middle.html
  include ../modules/referral-sec.html
  include ../modules/callback-sec.html