extends ../layout/layout

block main
  include ../modules/main-sec_referral.html
  include ../modules/earn.html
  include ../modules/referral.html
  include ../modules/state-sec.html
  include ../modules/middle.html
  include ../modules/callback-sec.html